.shedule-table {
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 100px;
  overflow: auto;
}
.table {
  /* min-width: 300px; */
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
}
td {
  padding: 10px;
}
thead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: rgba(237, 238, 240, 0.5);
}
.table-tr {
  border: 1px solid #cccccc;
}
.table-td {
  border: 1px solid #cccccc;
}
tbody tr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #000000;
}
li:not(:last-child) {
  margin-bottom: 5px;
}

