@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
p {
  margin: 0;
}
.content {
  margin-top: 80px;
  margin-bottom: 40px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.personal-area {
  padding: 0 54px;
}
.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  color: #000000;
}
/* main {
  min-height: 80vh;
} */
